.group__list {
  padding: 15px 30px;
  width: 100%;
  border-radius: 20px;
  height: 380px;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
  margin-bottom: 30px;
}
.group__list::-webkit-scrollbar {
  display: none;
}
.goroup__list_heading {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.goroup__list_heading .icon {
  font-size: 20px;
  color: #5f35f5;
}

.group__list_box {
  display: flex;
  justify-content: space-between;
  margin: 3% 2%;
  align-items: center;
  border-bottom: 1px solid #00000048;
  padding: 5px 0;
}

.group__list_box:last-child {
  border-bottom: 0;
}
.profile_image img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.group__name {
  font-size: 18px;
  font-weight: 700;
}

.group__list_box .group__btn button {
  background-color: #5f35f5;
  color: white;
  font-size: 18;
  font-weight: 800;
  padding: 7px 20px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: none;
}

.group__message {
  color: #4d4d4d;
  font-size: 16px;
}

.group__list .friends__list {
  padding: 15px 20px;
  height: 600px;
}

.friends__list .list__info {
  padding: 0 10px;
}

.friends__list .profile_image img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.friends__list .group__message {
  font-size: 12px;
}

.friends__list .group__message__time {
  font-size: 10px;
}


.friends__list .group__btn button{
  font-size: 20px;
  padding: 10px;
  height: 30px;
}