.left__side {
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;
}

.registration__part .left__box h1 {
  font-size: 34px;
  color: #11175d;
  font-weight: 700;
  margin-top: 30px;
}

.left__box p {
  color: #a5a8c2;
  font-size: 22px;
}

.text_feild_box {
  margin-top: 26px;
}

.MuiFormControl-root p {
  color: red;
  font-size: 14px;
}

.css-4bzs8s-MuiPaper-root-MuiAlert-root .left__side button {
  margin-top: 30px;
  width: 360px;
  border-radius: 25px !important;
  background-color: #5f35f5 ;
  padding: 10px 0;
}

.left__box .login_msg {
  font-size: 14px;
  color: #03014c;
  margin-top: 10px;
}

.left__box .login_msg span {
  color: #ea6c00;
  font-weight: 600;
}

.css-4bzs8s-MuiPaper-root-MuiAlert-root {
  position: relative;
}

.css-4bzs8s-MuiPaper-root-MuiAlert-root button {
  color: #03014c;
  height: 10px;
  width: 20px !important;
  background-color: inherit !important;
  top: -15px;
  right: 20px;
  position: absolute;
}
