.left__side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 70px;
}

.left__box h1 {
  font-size: 34px;
  color: #11175d;
  font-weight: 700;
  margin-top: 100px;
}

.left__box p {
  color: #a5a8c2;
  font-size: 22px;
}

.text_feild_box {
  margin-top: 26px;
}

.MuiFormControl-root p {
  color: red;
  font-size: 14px;
}
.left__side button{
    margin-top: 30px;
    width: 360px;
    border-radius: 25px;
    background-color: #5F35F5;
    padding: 10px 0;
}